.chip {
  display: flex;
  align-items: center;

  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 6px;

  font-family: var(--app-ubuntu), sans-serif;
  font-size: 1.25rem;

  background-color: var(--app-primary);
  width: fit-content;

  transition: transform 0.2s ease;

  cursor: default;

  &:hover {
    transform: translate(-2px, -2px) rotate(2deg);
  }
}