@mixin appear-left-animation($duration: 0.25s, $delay: 0s) {
  animation: appear-left $duration ease forwards $delay;
}

@mixin appear-right-animation($duration: 0.25s, $delay: 0) {
  animation: appear-right $duration ease forwards $delay;
}

@keyframes appear-left {
  from {
    opacity: 0;
    transform: translateX(-25dvw);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes appear-right {
  from {
    opacity: 0;
    transform: translateX(25dvw);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}