:root {
  --app-background: #101318;
  --app-text: #F1FAEE;
  --app-primary: #E63946;
  --app-accent: #457B9D;

  --app-btn: #E63946;
  --app-btn_hover: #f14855;
  --app-btn_active: #ff747e;

  --app-link_hover: #E63946;
  --app-link_active: #ff747e;

  --app-card: rgba(37, 20, 24, 0.8);
}