@import "@/shared/styles/animations";

.main {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-inline: 5rem;

  > section {
    width: 100%;
    min-height: 100dvh;
    place-content: center;

    > h2 {
      font-size: 4rem;

      @include appear-left-animation(0.75s);
    }
  }
}